---
_config:
  amm: # Identification for multiple AMMs
    pancakeswap:
      address: '0x1B96B92314C44b159149f7E0303511fB2Fc4774f'
      name: PancakeSwap
    streetswap:
      address: '0xf2e4E3F9B58b3eDaC88Ad11D689a23f3119a782D'
      name: StreetSwap
  bnb_emoji: <:bnb:794297484473532447> # External emoji for BNB if used on multiple servers
  refresh_rate: 15 # How often prices refresh
  bsc_node: https://bsc-dataseed2.binance.org # HTTP RPC or local RPC path
CAKE:
  token:
    apikey: ABCDEF  # Discord API Key
    contract: '0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82' # Token Contract
    icon: 🥞 # Flavor icon for the user list
    emoji: <:cake_token:794304404286341140> # [Optional] External custom emoji
    lp: '0xA527a61703D82139F8a06Bc30097cC9CAA2df5A6' # BNB/[Token] LP Pair Contract
    from: pancakeswap # Follows keys from _config.amm
  config:
    refresh_rate: 30 # Overriding refresh rate
    restrict_to: # Initial values for 'restrict' commands
      780148959502270525: # Guild ID
        - 793467848365834261 # Channel ID
        - 'offtopic' # Also accepts a channel name
THUGS:
  token:
    apikey: GHIJKL
    contract: '0xE10e9822A5de22F8761919310DDA35CD997d63c0'
    icon: 👊
    emoji: <:thugs_token:794300116562477056>
    lp: '0x9354caB0F1083135439B23aA6c364329e578F39a'
    from: streetswap
